<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <nav>
            <% if(user && user.role === 'admin'){ %>
                <a href="/create">Post</a>
            <% } %>
            <a href="/logout">Logout</a>
        </nav>
        <h1>Posts</h1>
        <div class="container">
                <% posts.forEach(item =>{ %>
                <div class="card">
                    <h2 class="itemtitle"><%= item.title %></h2>
                    <h3 class="itemdescription"><%= item.description %></h3>
                    <img class="postimg" src="/uploads/<%= item.image %>" alt="img">
                </div>
                <% }) %>
        </div>
   
       
</body>
</html>